:root {
  /* Fondo claro premium y texto oscuro */
  --bg-main: #F7F9FB;
  --text-main: #111111;
  --text-muted: #64748b;
  
  /* Colores de acento */
  --primary: #2563eb;
  --white: #ffffff;
  --border: #e2e8f0;

  /* Tipografías */
  --font-main: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
  
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: var(--bg-main);
}

/* Forzamos que los encabezados usen Inter */
h1, h2, h3, h4, span, button, input {
  font-family: var(--font-main);
}

/* Clase para números (Precios, Stock) */
.font-numeric {
  font-family: var(--font-mono) !important;
}

/* Ajuste del contenedor principal para que no sea centrado rígido */
#root {
  width: 100%;
  margin: 0;
  text-align: left;
  min-height: 100vh;
}